:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	box-sizing: border-box;
	scroll-behavior: smooth;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	background-color: #242424;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

p {
	text-wrap: balance;
}

img,
video,
svg {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	font-size: 20px;
	padding: 10px 20px;
	border: none;
	border-radius: 50px;
	background: #ffff;
	box-shadow: 0 0 5px #e3f2fd, 0 0 25px #dcedc8;
	transition: all 0.4s ease;
	cursor: pointer;
}

button:hover {
	box-shadow: 0 0 5px #e3f2fd, 0 0 25px #e3f2fd, 0 0 50px #c8e6c9,
		0 0 100px #ffff, 0 0 200px #ffff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
		transition: none;
	}
}
